@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,700&display=swap");

* {
  font-family: "DM Sans", sans-serif;
}
body{
  background-color: #1c1d22;
  color: white;
  overflow: hidden;
  
}


.menu-item{
  &:hover{
    background:#1c1d22
  }
}


.scroll {
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    // height: 60px;
  }

  &::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-track {
    background: "#1c1d22",
  }
}